<!--
  Generated template for the DonorlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar hideBackButton="true">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>donorlist</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let donor of donorList" (click)="gotoLatestEventDetailPage(donor.id)">
       
        {{ donor.User_name }} is {{ donor.Date_of_birth }}     
      </ion-item>
      <ion-item>
        Test
      </ion-item>
    </ion-list>
  </ion-content> -->

  <!--
  Generated template for the DonorlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton="true">
      <div class="header_left">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </div>
      <div class="header_center"> 
      <ion-title>Donors</ion-title>
      </div>
      <div class="header_right">
        <a href="#" class="back_btn">Back</a>
      </div>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  <div class="donors_page">
    <div class="donor_form_block">
      <form [formGroup]="findDonorForm" (ngSubmit)="findBloodDonors()"> 
        <ion-list formGroupName="findDonorData">         
          <ion-item>
              <ion-label>Blood group</ion-label>
              <ion-select id="blooggroup" formControlName="bloodgroup" (ionChange)="onBloodGroupChange()" class="form-control">
                <ion-option *ngFor="let bloodgroup of bloodGroups" [value]="bloodgroup">{{bloodgroup}}</ion-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label>Country</ion-label>
              <ion-select id="country" formControlName="country" (ionChange)="onCountryChange()" class="form-control">
                <ion-option *ngFor="let country of countries" [value]="country">{{country}}</ion-option>
              </ion-select>
            </ion-item>
          <ion-item>
            <ion-input type="text" id="city" formControlName="city" placeholder="City" class="form-control"></ion-input>
          </ion-item>

          <ion-item class="search_btn">
            <button class="submit_btn" type="submit" >Submit</button>
          </ion-item>
        </ion-list>         
      </form>            
    </div>
    <div class="donor_list_info" *ngFor="let donor of donorList" (click)="gotoLatestEventDetailPage(donor.id)">
      <div class="donor_list_grid one">
        <div class="donor_list_img">
          <!-- <img src="../assets/imgs/hme_donor_img1.png" />  -->
          <img src={{IMG_URL}}{{donor.Image}}>
        </div>
        <ul>
        <li>Name : <span>{{ donor.User_name }}</span></li>
        <li>D O B : <span>{{convertDate(donor.Date_of_birth)}}</span></li>
        </ul>
      </div>
      <div class="donor_list_grid two">
        <ul>   
        <li>Blood : <span>{{ getBloodGroup(donor.Blood_group )}}</span></li>
        <li>City : <span> {{ donor.City }}</span></li>
        </ul>
      </div>
      <div class="donor_list_grid three">
        <p class="hme_para_cont mail">{{ donor.Email }}</p>
        <p class="hme_para_cont phone">{{ donor.Contact_number }}</p>
      </div>  
    </div> 
  </div>
  </ion-content>
  
